h1 {

    background-color: rgb(79, 136, 136);
    font-size: large;
    color: rgb(216, 105, 226);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    body{
    
        background-color: rgb(219, 76, 9);
    }