h1 {

    background-color: rgb(79, 136, 136);
    font-size: large;
    color: rgb(216, 202, 13);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    body{
    
        background-color: rgb(216, 6, 6);
    }